.imgHeader {
    height: 75px;
}

.headerTitle {
    color: #fbfbfb;
}

.headerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2vw;
    background-color: #101010;
}

.headerContainer div {
    padding: 0 2vw 0 0;
}

.searchContainer {
    border: #c7aa62 1px solid;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.searchBox {
    border-radius: 3px;
    background-color: #101010;
    color: #fbfbfb;
}

.buttonContainer {
    background-color: #c7aa62;
}

.imgSearchBox {
    height: 15px;

}